<?xml version="1.0"?>
<launch>

	<rosparam command="load" file="$(find golfi)/config/ukf_koloq_fix.yaml" />
	<node name="ukf_localization_2d_enc" pkg="golfi" type="ukf_localization_2d_enc" output="screen" />
	<!-- <node name="spll" pkg="golfi" type="spll" output="screen" /> -->
	<!-- <node name="utm" pkg="gps_common" type="utm_odometry_node" /> -->
	<!-- <node name="utm_2" pkg="gps_common" type="utm_odometry_node_2" /> -->
	<!-- <node name="copy_gps" pkg="golfi" type="copy_gps" /> -->

</launch>